nav img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    align-self: center;
}

.recipe {
    border: 3px black solid;
    border-radius: 8px;
    padding: 15px;
}

main {
    margin-top: 10px;
    margin-bottom: 40px;
}

.recipe img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

nav input {
    font-size: 16px;
    height: 32px;
    width: 100%;
}

h1 {
    font-family: 'Amatic SC', 'Times New Roman', Times, serif;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2, h3 {
    font-family: 'Amatic SC', 'Times New Roman', Times, serif;
    color: cornflowerblue;
    margin-top: 20px;
    margin-bottom: 0px;
}

header img {
    height: 80px;
    width: 80px;
}

header {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

footer img {
    width: 30px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 930px;
    margin: auto;
}

.social {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.social img {
    margin-left: 5px;
    margin-right: 5px;
}

.buffer {
    height: 10px;
    width: 100%;
}

p {
    justify-self: center;
}

@media screen and (min-width: 800px) {
    .recipe img {
        width: 42%;
        margin-right: 15px;
    }

    .recipe {
        display: flex;
        flex-wrap: wrap;
    }

    .recipe {
        max-width: 900px;
        margin: auto;
    }

    nav, hr {
        max-width: 930px;
        margin: auto;
    }

    .container {
        display: flex;
        flex-flow: wrap column;
        width: 50%;
    }

    .recipe button {
        width: 70px;
    }

    footer {
        justify-content: space-between;
    }

    .social {
        flex-basis: auto;
        order: 1;
    }
}